{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
	 <div class="container">
	 	<br>
	 	<h1>User Settings</h1>
	 	<hr>
	 	<div class="row">
		 	<div class="col-sm-8 mt-5 ml-10">
				    <h3>{% trans "Change Password" %}</h3>
				    <hr>

				   <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
				        {% csrf_token %}
				        {{ form|crispy }}
				        <button type="submit" class="btn btn-primary"  name="action">{% trans "Change Password" %}</button>
				        <a href="#" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#deleteAccountModal">Delete Account</a>
				   </form>
				   <hr>

			</div>
		
		</div>
    <div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="deleteAccountLabel"><i class="fas fa-exclamation-triangle"></i> Delete Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
           Deleting Your account will also delete your
           <ul style="list-style: initial; padding: 3px;">
              <li>Followers</li>
              <li>Post and their data(likes,comments etc.)</li>
              <li>You all details will be deleted</li>
              <li>Shared link wouldn't work</li>
           </ul>
        </div>
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        <button type="button" id='delete_user' class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $j("#delete_user").click(function (e) {
      let csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
      $j.ajax({
        type: "POST",

        url: window.location.origin + "/users/delete-user/",

        data: {
          csrfmiddlewaretoken: csrftoken,
        },

        success: function (response) {
          if (response.delete) {
            window.location.replace(window.location.origin);
          }
          else {
            console.error('sth went wrong')
          }

        },
        error : function (response) {
            console.error('sth went wrong')
        }
      });
    
  });

</script>


{% endblock %}