{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
	 <div class="container">
	 	<br>
	 	<h1>User Settings</h1>
	 	<hr>
	 	<div class="row">
		 	<div class="col-sm-8 mt-5 ml-10">
				    <h3>{% trans "Change Password" %}</h3>
				    <hr>

				   <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
				        {% csrf_token %}
				        {{ form|crispy }}
				        <button type="submit" class="btn btn-primary"  name="action">{% trans "Change Password" %}</button>
				        <a href="#" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#deleteAccountModal">Delete Account</a>
                <hr>
                {% if user.allow_for_genuine_user %}
                      <a href="#" class="btn btn-info float-right btn-block" data-toggle="modal" data-target="#genuineAccountModal">Apply For Genuine User</a>
                {% endif %}
				   </form>
				   <hr>

			</div>
		
		</div>
    <div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="deleteAccountLabel"><i class="fas fa-exclamation-triangle"></i> Delete Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
           Deleting Your account will also delete your
           <ul style="list-style: initial; padding: 3px;">
              <li>Followers</li>
              <li>Post and their data(likes,comments etc.)</li>
              <li>You all details will be deleted</li>
              <li>Shared link wouldn't work</li>
           </ul>
        </div>
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        <button type="button" id='delete_user' class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

{% if user.allow_for_genuine_user %}
  <!-- genuine Modal  -->
  <div class="modal fade" id="genuineAccountModal" tabindex="-1" aria-labelledby="genuineAccountLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info" id="genuineAccountLabel">
            <i class="fas fa-user-check mr-2"></i>
             Apply For Genuine Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container">
            <h5>
              For Applying for Genuine Account
             </h5>
             You will get Genuine  mark <i class="fas fa-check-double"></i> on your account 
             <br>
             Get 
             <span class="text-primary">
              Socialfly Recommendation 
              </span>
             in user suggestions on home page
             <hr>
             Just fill following form and we will verify you and notify you for the same ?
             <hr>
             <form id='genuine_form' >
              {% csrf_token %}
            <div class="form-group">
              <label for="genuine_description">Why you want to be a genuine user</label>
              <textarea class="form-control" id="genuine_description" rows="3" placeholder="Add your anwser here" required=""></textarea>
            </div>

       </div>
        <div class="modal-footer container">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button type="submit"  id='genuine_user_btn' class="btn btn-success">Apply for Genuine User</button>
        </div>
        </form>
      </div>
    </div>
  </div>

{% endif %}






<script type="text/javascript">
  $j("#delete_user").click(function (e) {
      let csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
      $j.ajax({
        type: "POST",

        url: window.location.origin + "/users/delete-user/",

        data: {
          csrfmiddlewaretoken: csrftoken,
        },

        success: function (response) {
          if (response.delete) {
            window.location.replace(window.location.origin);
          }
          else {
            console.error('sth went wrong');
          }

        },
        error : function (response) {
            console.error('sth went wrong');
        }
      });
    
  });

    $j("#genuine_form").submit(function (e) {
      
      var genuine_description=document.getElementById('genuine_description').value.trim();
      let csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
      console.log('DESCRPTINSKJSDNJ',genuine_description)
      if (genuine_description.length) {
        $j.ajax({
          type: "POST",

          url: window.location.origin + "/users/user-genuine-info/",

          data: {
            csrfmiddlewaretoken: csrftoken,
            genuine_description:genuine_description
          },

          success: function (response) {
            if (response.form_saved) 
            {
              console.log('form sennded')
              location.reload()
            }
      

          },
          error : function (response) {
              console.error('sth went wrong');
          }
        });
      
    }else{
      document.getElementById('genuine_description').focus()
    }
    e.preventDefault();
  });

</script>


{% endblock %}