{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block head_title %}Sign in{% endblock %}
{% block content %}

 <main id="login">
  <div class="login__column">
                <br>
                <br>
                <br>
                <br>
                <img src="{% static 'images/phoneImage.png' %}" class="login__phone" />
            </div>
            <div class="login__column">
                <div class="login__box" style="width: 100% !important;">
                     <center>   
                    <img src="{% static 'label.jpg' %}" class="login__logo" />
                          <hr>
                     </center>   
                          <div >
                            <h5 style="color: #8e8e8e;font-weight: 600">
                            Sign up to see photos and chats from your friends.</h5>
                            </div>
                            <br>
                    <form action="" method="POST" class="login__form">
                       {% csrf_token %}
                       {{form|crispy}}
      
                        <input type="submit" value="Create Account" />
                    </form>
                    <span class="login__divider">or</span>
                    Sign up with Other Social Providers

                    <div  class=" mt-3">


                         <a href="{% provider_login_url 'discord'  %}" class=""> 
                            <button type="button" class="btn btn-primary btn-lg btn-floating ml-2" style="background:purple;border: purple;" >
                                <i class="fab fa-discord fa-lg"></i>
                                </button>
                            </a>
                            <a href="{% provider_login_url 'github' %}" class=""><button type="button" class="btn btn-dark btn-lg btn-floating ml-2" style="background: black;">
                                  <i class="fab fa-github fa-lg"></i>
                            </button></a>
                            <a href="{% provider_login_url 'google' %}" class=""><button type="button" class="btn btn-danger btn-lg btn-floating ml-2">
                                    <i class="fab fa-google fa-lg"></i>
                            </button></a>
                    </div>
                    <hr>
                    <span>Already Have Account ??</span> <a href="{% url 'account_login' %}">Log in</a>
                    <a href="{% url 'account_reset_password' %}" class="login__link login__link--small">Forgot password</a>
                </div>
             
            </div>
        </main>


{% endblock %}