{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html>
   <head>
    {% progressive_web_app_meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'css/my_style.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
      <script>
         var $j = jQuery.noConflict();
      </script>
      <title> Socialfly | {% block head_title %}{% endblock %}</title>
      {% include "navi.html" %}
   </head>
   <body>
        <div class="loader1">
         <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="2644.000000pt" height="2644.000000pt" viewBox="0 0 2644.000000 2644.000000" preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,2644.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
</g>
</svg>      
      </div>
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
         {{ message }}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
      </div>
      {% endfor %}
      {% endif %}
      <div class="container">
         {% block content  %}
         {% endblock content %}
      </div>
      {% include "footer.html" %}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      {% if request.user.is_authenticated %}
         <script type="text/javascript" src="{% static 'js/reconnecting-websocket.js' %}"></script>
         <script src="{% static 'js/registerSw.js' %}"></script>
         <script>
            var chatSocket = new ReconnectingWebSocket(
                  'ws://'
                  + window.location.host
                  + '/ws/global/'
              );
            
            chatSocket.onmessage = function(e) {
              var data=JSON.parse(e.data);
              if (data.command === "new_notification") {
                console.log('new_notification')
                async function start(head,body,id) {
                    alert(head,body,id);
                       var csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
                       const res = await fetch(window.location.origin +"/send_push/",
                       {
                        method: 'POST',
                        body: JSON.stringify({head, body, id,}),
                        headers: {
                            'content-type': 'application/json',
                            'X-CSRFToken':csrftoken
                        }
                    });
                    if (res.status === 200) {
                      console.log('notification sended')
                  
                    } else {
                      console.error('sth when wrong with notification')
                        
                    }
                  };
              var head=data.value.title;
              var body=data.value.description ;
              var id='{{user.id}}' ;
              start(head,body,id);
              }
            };
            
            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly',e);
            };
         </script>
      {% endif %}
      <script>
         const loader1 = document.querySelector(".loader1");
         window.onload = function(){
           setTimeout(function(){
             loader1.style.opacity = "0";
             loader1.style.display = "none";
           },250);
           $j('.loader1').attr('style', 'z-index: -10000 !important');
         }
           
    </script>
      {% block js_script  %}
      {% endblock js_script %}
   </body>
</html>