{% extends '_base.html' %}
{% load static %}
{% block head_title %}About As{% endblock %}
{% block content  %}

  <section>
    <div class="container-fluid">

      <br>
      <h1 class="text-center dark-grey-text pb-3 mt-5 pt-5">
        <strong>ABOUT</strong> ME</h1>

      <p class="grey-text text-center mb-4 text-uppercase spacing">SOME FACTS ABOUT ME </p>

      <div class="row flex-center">

        <div class="col-md-10 col-xl-5">

          <p class="grey-text text-center">
            <em>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              deleniti atque corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas. Nemo enim ipsam
              voluptatem quia voluptas sit aspernatur."</em>
          </p>

        </div>

      </div>

    </div>
  </section>

  <section>

    <div class="container-fluid grey lighten-4">
      <hr class="my-5">
      <div class="container">

        <div class="row mt-5 pt-3">

          <div class="col-lg-12 col-12 mt-1 mx-lg-4">

            <section class="pb-3 text-center text-lg-left">

              <div class="row mb-5 pb-3">

                <div class="col-md-12">
                  <div class="card">

                    <div class="view overlay">
                      <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(108).jpg" class="card-img-top" alt="">
                      <div class="mask rgba-white-slight"></div>
                    </div>

                    <div class="card-body mx-4">
                      <h4 class="card-title mt-4">
                        <strong>Lorem ipsum dolor sit amet</strong>
                      </h4>
                      <hr>

                      <div class="row mt-4">

                        <div class="col-md-6">

                          <p class="dark-grey-text mb-3">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                            odit aut
                            fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                            sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                            dolor sit amet, consectetur, adipisci velit, sed quia non numquam
                            eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                            voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
                            ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                            consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate
                            velit esse quam nihil molestiae consequatur, vel illum qui dolorem
                            eum fugiat quo voluptas nulla pariatur?"</p>
                        </div>

                        <div class="col-md-6">

                          <p class="dark-grey-text mb-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                            inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <hr>

                            <h5 class="h5-responsive font-weight-bold text-center mt-4">
                              <strong>Find me on social media</strong>
                            </h5>

                            <div class="row">

                              <div class="col-md-12 text-center">

                                <a type="button" class="btn-floating btn-fb btn-sm">
                                  <i class="fab fa-facebook-f"></i>
                                </a>
                                <a type="button" class="btn-floating btn-tw btn-sm">
                                  <i class="fab fa-twitter"></i>
                                </a>
                                <a type="button" class="btn-floating btn-gplus btn-sm">
                                  <i class="fab fa-google-plus-g"></i>
                                </a>
                                <a type="button" class="btn-floating btn-li btn-sm">
                                  <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a type="button" class="btn-floating btn-dribbble btn-sm">
                                  <i class="fab fa-dribbble"></i>
                                </a>

                              </div>

                            </div>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </section>

          </div>

        </div>

      </div>

    </div>

  </section>
{% endblock content %}
