{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block head_title %}Log in{% endblock %}
{% block content  %}

    <main id="edit-profile">

        <div class="edit-profile__container">
            
            <form action="" method="POST" class="edit-profile__form" enctype="multipart/form-data">
                {% csrf_token %}
             <center>

                 <img src="{% thumbnail user.get_social_user.profile_photo 152x150 crop %}" id='user_profile_image' style="border-radius: 50%;border: 2px solid #555 !important;">
                        <br>
                    <input type="file" name="profile_photo" accept="image/*" class=" text-center form-control-file ml-5 mr-5" id="id_profile_photo">

            </center>
                        <hr>
                        <h3 class="text-center">Your Information</h3>
                        <hr>


                  <div class="form__row">
                    <label for="user-name" class="form__label">Username:</label>
                    {{user_from.username|as_crispy_field}} 
                </div>

                <div class="form__row">
                    <label for="first-name" class="form__label">First Name:</label>
                    {{user_from.first_name|as_crispy_field}} 
                </div>

                  <div class="form__row">
                    <label for="last-name" class="form__label">Last Name :</label>
                    {{user_from.last_name|as_crispy_field}} 
                </div>

                    <div class="form__row">
                    <label for="phone" class="form__label">Phone Number:</label>
                    
                    {{user_from.phone_number|as_crispy_field}} 
                </div>

                 <div class="form__row">
                    <label for="email" class="form__label">Email:</label>
                    {{user_from.email|as_crispy_field}} 

                </div>


                <div class="form__row">
                    <label for="bio" class="form__label">Bio:</label>
                    {{user_from.bio|as_crispy_field}} 
                    
                </div>

     
                <div class="form__row">
                    <label for="gender" class="form__label">Gender:</label>
                    {{ user_from.gender|as_crispy_field }}
                </div>   

                 <div class="form__row">
                    <label for="birthday" class="form__label">Birthday:</label>
                    {{user_from.birth_date|as_crispy_field}} 
                </div>

                <input type="submit" value="Submit" class="btn btn-toolbar">
            </form>
            

      
                
        </div>
    </main>

<script type="text/javascript">
    document.getElementById("gender").value = "{{request.user.get_social_user.gender}}";
    document.getElementById('user-name').value='{{request.user.username}}';
    document.getElementById('first-name').value='{{request.user.first_name}}';
    document.getElementById('last-name').value='{{request.user.last_name}}';
    document.getElementById('email').value='{{request.user.email}}';

    var input_box=document.getElementById('id_profile_photo');



    input_box.addEventListener('change', ()=>{
          const image_data = input_box.files[0];
          const url = URL.createObjectURL(image_data);

           let csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
           
            console.log(image_data,url,csrftoken)

            const fd = new FormData();
            fd.append('csrfmiddlewaretoken',csrftoken);
            fd.append('image', image_data);

         $j.ajax({
            type:'POST',
            url: window.location.origin + "/users/upload-profile-picture/",
            enctype: 'multipart/form-data',
            data:  fd,
            success: function(response){
                let user_profile_image = document.querySelector("#user_profile_image");
                user_profile_image.src=window.location.origin+response.image_url

            },
            error: function(error){
                alert('Ups... something went wrong while uploading');
          
            },
            cache: false,
            contentType: false,
            processData: false,
        })

    });













    console.log('>>>>>>>',input_box)

    

</script>








{% endblock content %}