{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Log in{% endblock %}
{% block content  %}

    <main id="edit-profile">

        <div class="edit-profile__container">
            
            <form action="" method="POST" class="edit-profile__form" enctype="multipart/form-data">
            <header class="edit-profile__header ml-5">

             <img src="{{user_object.profile_photo.url}}" height="150" width="150" style="border-radius: 50%;border: 2px solid #555 !important;">
                    <!-- <img src="{{user_object.profile_photo.url}}" class="img-thumbnail" height="100" width="100"> -->
                    <br>
               <div class="form-group ml-3">
                {{user_from.profile_photo|as_crispy_field}} 
              </div>

            </header>
                {% csrf_token %}

                  <div class="form__row">
                    <label for="user-name" class="form__label">Username:</label>
                    {{user_from.username|as_crispy_field}} 
                </div>

                <div class="form__row">
                    <label for="first-name" class="form__label">First Name:</label>
                    {{user_from.first_name|as_crispy_field}} 
                </div>

                  <div class="form__row">
                    <label for="last-name" class="form__label">Last Name :</label>
                    {{user_from.last_name|as_crispy_field}} 
                </div>

                    <div class="form__row">
                    <label for="phone" class="form__label">Phone Number:</label>
                    
                    {{user_from.phone_number|as_crispy_field}} 
                </div>

                 <div class="form__row">
                    <label for="email" class="form__label">Email:</label>
                    {{user_from.email|as_crispy_field}} 

                </div>


                <div class="form__row">
                    <label for="bio" class="form__label">Bio:</label>
                    {{user_from.bio|as_crispy_field}} 
                    
                </div>

     
                <div class="form__row">
                    <label for="gender" class="form__label">Gender:</label>
                    {{ user_from.gender|as_crispy_field }}
                </div>   

                 <div class="form__row">
                    <label for="birthday" class="form__label">Birthday:</label>
                    {{user_from.birth_date|as_crispy_field}} 
                </div>

                <input type="submit" value="Submit">
            </form>
            

      
                
        </div>
    </main>

<script type="text/javascript">
    document.getElementById("gender").value = "{{user_object.gender}}";
    document.getElementById('user-name').value='{{request.user.username}}';
    document.getElementById('first-name').value='{{request.user.first_name}}';
    document.getElementById('last-name').value='{{request.user.last_name}}';
    document.getElementById('email').value='{{request.user.email}}';
    

</script>








{% endblock content %}