{% extends '_base.html' %}
{% load static %}
{% load user_actions %}
{% block head_title %}Explore{% endblock %}

{% block content  %}

<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/amsify.suggestags.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.amsify.suggestags.js' %}"></script>
    <main id="feed">
        {% include "post_ajax.html" %}
        <div id='spiner_box' style="display:none;">
            <div class="spinner-border text-primary" role="status" >
        </div>
        <script type="text/javascript" src="{% static 'js/follow_unfollow.js' %}"></script>
        </main>



        <div class="add_button" data-toggle="modal" data-target="#exampleModalLong">
            <i class="fas fa-plus-circle fa-3x"></i>  
        </div>

 

 {# sucesss model #}
<div class="modal " id="postsucessmodel" tabindex="-1" role="dialog" aria-labelledby="postsucessmodelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postsucessmodelLabel">Post Successfully Sent !!   </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

{# POST MODEL UPLOAD #}

<div class="modal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" >New Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

            <div class="modal-footer">
                       <small id="postHelpInline" class="text-muted">
           You can upload almost 5 image with each size max to 3MB  
           
            </small>

            <button type="button" class="btn btn-sm btn-danger" id='removetheimage' > <i class="fas fa-ban"></i> Remove  Images</button>
            <button type="button" id='uploadtheimage' class="btn btn-sm btn-primary"><i class="fas fa-upload"></i> Upload  Images</button>
      </div>
      <div class="modal-body">

        <div id='caption_for_image'>

              <div class="form-group">
                <label for="caption_text">Add Caption</label>
                <textarea class="form-control" id="caption_text" rows="3"  placeholder="Add Caption To post"></textarea>
              </div>
            <div class="form-group">
                <label for="tag_friends">Tag Your Friends</label>
             <input type="text" class="form-control" id="tag_friends" name="following" value="" placeholder="Tag Your Friends">
             </div>
        </div>
                    
        

        <form action="{% url 'posts:post_image_upload' %}"  method="POST" class="dropzone dz" id='my-dropzone' enctype="multipart/form-data">
        {% csrf_token %}
            <div class="fallback" id='form_area'>
                <input name="file" type="file" multiple >
            </div>
        </form>
      </div>
    </div>
  </div>
</div>





<!-- Report  Modal -->
<div class="modal " id="reportpostmodel" tabindex="-1" role="dialog" aria-labelledby="reportpostmodelTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
 
        <h5 class="modal-title" id="exampleModalLongTitle">Report Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
        Leave if you do not want to give discription your report will be send
      </div>
        <input class="form-control form-control" type="text" placeholder="Description for Report" id='description_box' value="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id='report_post_button'>Report Post</button>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Delete  Modal -->
<div class="modal " id="deletepostmodel" tabindex="-1" role="dialog" aria-labelledby="deletepostmodelTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
 
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Post ??</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
        Deleting the post will delete all related 
        <ol>
          <li>Comments</li>
          <li>Likes</li>
          <li>History</li>
          <li>Share link wouldn't work</li>
        </ol>
      </div>
      </div>
      <div class="modal-footer">
          <div class="col">
              <button type="button" class="btn btn-success btn-block" data-dismiss="modal">Close</button>
            </div>
          <div class="col">
            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal" id='report_question'>Delete  Post</button>
          </div>
          
      </div>
    </div>
  </div>
</div>
</div>


<script type="text/javascript" src="{% static 'js/user_post.js' %}">

</script>
     <script type="text/javascript">
    $j('input[name="following"]').amsifySuggestags({
        suggestions:[{% for following in request.user.get_social_user.following.all %}'{{following.username}}',{% endfor %}],
        whiteList: true
    });

</script>

<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite_post.js' %}"></script> 
{% endblock content %}


