{% extends '_base.html' %}
{% load static %}
{% load user_actions %}
{% block head_title %}Explore{% endblock %}
{% block content  %}

<main id="feed">
     {% csrf_token %}
    <div id='post_box'></div> 
    <div id='spiiner_box' style="display:none;">
        <div class="spinner-border text-primary" role="status" >
            </div>
    </div> 
    <div id='loading_box'>
        <button class="btn btn-primary" id="load_btn">Load more</button>
        
    </div>   
</main>
    <script type="text/javascript" src="{% static 'js/infinite_post.js' %}"></script>     
{% endblock content %}
