{% extends '_base.html' %}
{% load static %}
{% block head_title %}Welcome to Socialfly{% endblock %}
{% block content  %}
<section class="view intro-2 rgba-gradient">
      <div class="mask">
        <div class="container h-100 d-flex justify-content-center align-items-center">
          <div class="row flex-center pt-5 mt-3">
            <div class="col-md-12 col-lg-6 text-center text-md-left margins">
              <div class="white-text">
                <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Make purchases with our
                  app </h1>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit. Rem repellendus quasi fuga nesciunt
                  dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                  iste.
                </h6>
                <br>
                <a class="btn btn-white btn-rounded blue-text font-weight-bold ml-lg-0 wow fadeInLeft"
                  data-wow-delay="0.3s">Download</a>
                <a class="btn btn-outline-white btn-rounded font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Learn
                  more
                </a>
              </div>
            </div>

            <div class="col-md-12 col-lg-6  wow fadeInRight" data-wow-delay="0.3s">
              <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </section>
  <main>

    <!--First container-->
    <div class="container">

      <!--Section: Features v.1-->
      <section id="features" class="mb-5">

        <!--Section heading-->
        <h1 class="mb-3 my-5 pt-5 dark-grey-text wow fadeIn text-center" data-wow-delay="0.2s"><strong
            class="font-weight-bold">Lorem ipsum</strong> dolor sit amet</h1>

        <!--Section description-->
        <p class="text-center grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas, eos officia maiores ipsam ipsum
          dolores reiciendis
          ad voluptas, animi obcaecati adipisci sapiente mollitia.</p>

        <!--First row-->
        <div class="row features wow fadeIn" data-wow-delay="0.2s">

          <div class="col-lg-4 text-center">
            <div class="icon-area">
              <div class="circle-icon">
                <i class="fas fa-cogs blue-text"></i>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Customization</h5>
              <div class="mt-1">
                <p class="mx-3 grey-text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem
                  ipsum dolor sit
                  amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 text-center">
            <div class="icon-area">
              <div class="circle-icon">
                <i class="fas fa-book blue-text"></i>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Easy tutorials</h5>
              <div class="mt-1">
                <p class="mx-3 grey-text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem
                  ipsum dolor sit
                  amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 text-center mb-4">
            <div class="icon-area">
              <div class="circle-icon">
                <i class="fas fa-users blue-text"></i>
              </div>
              <br>
              <h5 class="dark-grey-text font-weight-bold mt-2">Free support</h5>
              <div class="mt-1">
                <p class="mx-3 grey-text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem
                  ipsum dolor sit
                  amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>

        </div>
        <!--/First row-->

      </section>
      <!--/Section: Features v.1-->

    </div>
    <!--First container-->

    <!--Second container-->
    <div class="container-fluid" style="background-color: #f9f9f9">
      <div class="container py-4">

        <!--Section: Download-->
        <section>

          <!-- First row -->
          <div class="row my-4 pt-5 wow fadeIn" data-wow-delay="0.4s">

            <!-- First column -->
            <div class="col-lg-7 col-md-12 mb-4 text-center">
              <img src="https://mdbootstrap.com/img/Photos/Others/screen.jpg" alt=""
                class="img-fluid z-depth-2 rounded">
            </div>
            <!-- /First column -->

            <!-- Second column -->
            <div class="col-lg-5 col-md-12 mb-4 text-left">

              <!--Section heading-->
              <h2 class="mb-3 my-5 dark-grey-text wow fadeIn" data-wow-delay="0.2s"><strong
                  class="font-weight-bold">Download</strong> the application</h2>

              <p class="grey-text mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem
                ipsum dolor sit amet,
                consectetur adipisicing elit.</p>
              <a class="btn btn-white btn-rounded blue-text font-weight-bold ml-0 wow fadeIn" data-wow-delay="0.2s"><i
                  class="fab fa-android pr-2" aria-hidden="true"></i> Play store</a>
              <a class="btn btn-white btn-rounded blue-text font-weight-bold wow fadeIn" data-wow-delay="0.2s"><i
                  class="fab fa-apple pr-2" aria-hidden="true"></i> App store</a>
            </div>
            <!-- /.Second column -->

          </div>
          <!-- /.First row -->

        </section>
        <!--/Section: Download-->

      </div>
    </div>
    <!--Second container-->

    <!--Third container-->
    <div class="streak streak-md streak-photo"
      style="background-image:url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg')">
      <div class="flex-center white-text blue-gradient-mask">
        <div class="container py-3">

          <!--Section: Features v.4-->
          <section class="wow fadeIn" data-wow-delay="0.2s">

            <!--Section heading-->
            <h1 class="py-5 my-5 white-text text-center wow fadeIn" data-wow-delay="0.2s"><strong
                class="font-weight-bold">Lorem ipsum</strong> dolor sit amet</h1>

            <!--Grid row-->
            <div class="row features-small mb-5">

              <!--Grid column-->
              <div class="col-md-12 col-lg-4">

                <!--Grid row-->
                <div class="row mb-5">
                  <div class="col-3">
                    <a type="button" class="btn-floating white btn-lg my-0"><i class="fas fa-tablet-alt blue-text"
                        aria-hidden="true"></i></a>
                  </div>
                  <div class="col-9">
                    <h5 class="font-weight-bold white-text">Fully responsive</h5>
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                      maiores.</p>
                  </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row mb-5">
                  <div class="col-3">
                    <a type="button" class="btn-floating white btn-lg my-0"><i class="fas fa-level-up-alt blue-text"
                        aria-hidden="true"></i></a>
                  </div>
                  <div class="col-9">
                    <h5 class="font-weight-bold white-text">Frequent updates</h5>
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                      maiores.</p>
                  </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row mb-5">
                  <div class="col-3">
                    <a type="button" class="btn-floating white btn-lg my-0"><i class="fas fa-phone blue-text"
                        aria-hidden="true"></i></a>
                  </div>
                  <div class="col-9">
                    <h5 class="font-weight-bold white-text">Technical support</h5>
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                      maiores nam.</p>
                  </div>
                </div>
                <!--Grid row-->

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-12 col-lg-4 px-5 mb-2 text-center text-md-left flex-center">
                <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new1.png" alt=""
                  class="z-depth-0 img-fluid">
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-12 col-lg-4">

                <!--Grid row-->
                <div class="row mb-5">
                  <div class="col-3">
                    <a type="button" class="btn-floating white btn-lg my-0"><i class="far fa-object-group blue-text"
                        aria-hidden="true"></i></a>
                  </div>
                  <div class="col-9">
                    <h5 class="font-weight-bold white-text">Editable layout</h5>
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                      maiores nam.</p>
                  </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row mb-5">
                  <div class="col-3">
                    <a type="button" class="btn-floating white btn-lg my-0"><i class="fas fa-rocket blue-text"
                        aria-hidden="true"></i></a>
                  </div>
                  <div class="col-9">
                    <h5 class="font-weight-bold white-text">Fast and powerful</h5>
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                      maiores nam.</p>
                  </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row mb-5">
                  <div class="col-3">
                    <a type="button" class="btn-floating white btn-lg my-0"><i class="fas fa-cloud-upload-alt blue-text"
                        aria-hidden="true"></i></a>
                  </div>
                  <div class="col-9">
                    <h5 class="font-weight-bold white-text">Cloud storage</h5>
                    <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                      maiores nam.</p>
                  </div>
                </div>
                <!--Grid row-->

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

          </section>
          <!--/Section: Features v.4-->
        </div>
      </div>
    </div>
    <!--/Third container-->

    <!--/Fourth container-->
    <div class="container">

      <!--Section: Pricing v.3-->
      <section class="mt-4 mb-5">

        <!--Section heading-->
        <h1 class="mb-3 my-5 pt-5 text-center dark-grey-text wow fadeIn" data-wow-delay="0.2s"><strong
            class="font-weight-bold">Lorem ipsum</strong> dolor sit amet</h1>

        <!--Section description-->
        <p class="text-center w-responsive mx-auto my-5 grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing
          elit. Fugit, error amet numquam iure provident voluptate
          esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

        <!--First row-->
        <div class="row">

          <!--First column-->
          <div class="col-lg-4 col-md-12 mb-4">
            <!--Card-->
            <div class="card">

              <!--Content-->
              <div class="text-center">
                <div class="card-body">
                  <h5>Basic plan</h5>
                  <div class="d-flex justify-content-center">
                    <div class="card-circle d-flex justify-content-center align-items-center">
                      <i class="fas fa-home blue-text"></i>
                    </div>
                  </div>

                  <!--Price-->
                  <h2 class="font-weight-bold dark-grey-text mt-3"><strong>59$</strong></h2>
                  <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa pariatur id nobis
                    accusamus
                    deleniti cumque hic laborum.</p>
                  <a class="btn btn-blue font-weight-bold btn-rounded">Buy now</a>
                </div>
              </div>

            </div>
            <!--/.Card-->
          </div>
          <!--/First column-->

          <!--Second column-->
          <div class="col-lg-4 col-md-12 mb-4">
            <!--Card-->
            <div class="card blue-gradient">

              <!--Content-->
              <div class="text-center white-text">
                <div class="card-body">
                  <h5>Premium plan</h5>
                  <div class="d-flex justify-content-center">
                    <div class="card-circle d-flex justify-content-center align-items-center">
                      <i class="fas fa-users white-text"></i>
                    </div>
                  </div>

                  <!--Price-->
                  <h2 class="font-weight-bold white-text mt-3"><strong>79$</strong></h2>
                  <p>Esse corporis saepe laudantium velit adipisci cumque iste ratione facere non distinctio
                    cupiditate sequi atque.</p>
                  <a class="btn btn-white font-weight-bold btn-rounded">Buy now</a>
                </div>
              </div>

            </div>
            <!--/.Card-->
          </div>
          <!--/Second column-->

          <!--Third column-->
          <div class="col-lg-4 col-md-12 mb-4">
            <!--Card-->
            <div class="card">

              <!--Content-->
              <div class="text-center">
                <div class="card-body">
                  <h5>Advanced plan</h5>
                  <div class="d-flex justify-content-center">
                    <div class="card-circle d-flex justify-content-center align-items-center">
                      <i class="fas fa-chart-bar blue-text"></i>
                    </div>
                  </div>

                  <!--Price-->
                  <h2 class="font-weight-bold dark-grey-text mt-3"><strong>99$</strong></h2>
                  <p class="grey-text">At ab ea a molestiae corrupti numquam quo beatae minima ratione magni accusantium
                    repellat
                    eveniet quia vitae.</p>
                  <a class="btn btn-blue font-weight-bold btn-rounded">Buy now</a>
                </div>
              </div>

            </div>
            <!--/.Card-->
          </div>
          <!--/Third column-->

        </div>
        <!--/First row-->

      </section>
      <!--/Section: Pricing v.3-->

      <hr>


      

    </div>
    <!--/Fourth container-->

  </main>
{% endblock content %}