<style type="text/css">
    .post_js {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.post_js img {
  width: 400px;
  cursor: pointer;
}
.post_js .icon {
  position: absolute;
  display: inline-block;
  width: 128px;
  opacity: 0;
  fill: red;
}
.post_js .icon.like {
  animation: 2s like-heart-animation ease-in-out forwards;
}
.post_js p {
  align-self: baseline;
  margin-top: 10px;
}
@keyframes like-heart-animation {
  0%,
  to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  30% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  45%,
  80% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
</style>


<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;display:none;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-heart" viewBox="0 0 32 32">
      <path d="M23.6 2c-3.363 0-6.258 2.736-7.599 5.594-1.342-2.858-4.237-5.594-7.601-5.594-4.637 0-8.4 3.764-8.4 8.401 0 9.433 9.516 11.906 16.001 21.232 6.13-9.268 15.999-12.1 15.999-21.232 0-4.637-3.763-8.401-8.4-8.401z"></path>
    </symbol>
  </defs>
</svg>

<div class="post">
  <svg class="icon icon-heart">
    <use xlink:href="#icon-heart"></use>
  </svg>
  <img src="https://cdn.hashnode.com/res/hashnode/image/upload/v1613112132051/EJ8luuNF_.png" />
  <p><span>0</span> likes</p>
</div>

<script type="text/javascript">
  const img = document.querySelector(".post");
const icon = document.querySelector(".icon");
console.log(icon)


img.addEventListener("dblclick", () => {

  icon.classList.add("like");
  img.classList.add("post_js");

  setTimeout(() => {
    icon.classList.remove("like");
  }, 1200);
});
</script>