{% load static %}
<nav class="navigation sticky-top">
        <div class="navigation__column">
            <a href="{% url 'posts:explore' %}">
                <!-- Master branch comment -->
                <img src="{% static 'logo_.jpg' %}" />
                <img src="{% static 'label_new.jpg' %}" class="removeimage">
            </a>
        </div>
        <div class="navigation__column">
            <i class="fa fa-search"></i>
            <input type="search" placeholder="Search">
        </div>
        <div class="navigation__column">
            <ul class="navigations__links">
                <li class="navigation__list-item">
                    <a href="{% url 'posts:explore' %}" class="navigation__link">
                        <i class="fa fa-compass fa-lg"></i>
                    </a>
                </li>
                <li class="navigation__list-item">
                    <a href="{% url 'users:home_page' %}" class="navigation__link">
                        <i class="fas fa-house-damage"></i>
                    </a>
                </li>
                <li class="navigation__list-item">
                    <a href="#" class="navigation__link">
                        <i class="fa fa-heart-o fa-lg"></i>
                    </a>
                </li>
                <li class="navigation__list-item">
                    <a href="{% url 'users:profile' %}" class="navigation__link">
                        <i class="fa fa-user-o fa-lg"></i>
                    </a>
                </li>
            
            </ul>
        </div>
    </nav>
