{% extends '_base.html' %}
{% load static %}

{% block head_title %}Profile{% endblock %}
{% block content  %}


<br>
<br>
<br><!-- Button trigger modal -->

<main id="profile">
        
    <header class="profile__header">
        <div class="profile__column" >
             <img src="{{user_object.profile_photo.url}}" height="150" width="150" style="border: 2px solid #555 !important;">
        </div>
        <div class="profile__column">
            <div class="profile__title">
                <h3 class="profile__username">{{user_object.user.username}}</h3>
                {% if user_object.user == user %}

                <a href="{% url 'users:profile_edit' %}">Edit profile</a>
                <a href="{% url 'account_logout' %}"   style="color:white;background: red;text-decoration:none;border: none;" >Log Out</a>
                <i class="fa fa-cog fa-lg"></i>
                {% endif %}

            </div>

            <ul class="profile__stats">
                <li class="profile__stat">
                    <span class="stat__number">543</span> posts
                </li>
                <li class="profile__stat">
                    <span class="stat__number">{{user_object.get_no_of_followers}}</span> followers
                </li>
                <li class="profile__stat">
                    <span class="stat__number">{{user_object.get_no_of_following}}</span> following
                </li> 
                <li class="profile__stat">
                    {% if user_object.gender == 'M'%}
                        <i class="fas fa-male fa-2x"></i>
                    {% elif user_object.gender == 'F'%}
                        <i class="fas fa-female fa-2x"></i>

                    {% endif %}
                </li>
            </ul>
            <p class="profile__bio">
                <span class="profile__full-name">
                    {{user_object.user.get_full_name}}      
                               </span> 
                <br>
                {{user_object.bio}}
            </p>
        </div>
    </header>
    <section class="profile__photos">
        <div class="profile__photo">
            <img src="{% static 'images/feedPhoto.jpg' %}" />
            <div class="profile__photo-overlay">
                <span class="overlay__item">
                    <i class="fa fa-heart"></i>
                    486
                </span>
                <span class="overlay__item">
                    <i class="fa fa-comment"></i>
                    344
                </span>
            </div>
        </div>
        <div class="profile__photo">
            <img src="{% static 'images/feedPhoto.jpg' %}" />
            <div class="profile__photo-overlay">
                <span class="overlay__item">
                        <i class="fa fa-heart fa-2x"></i>
                        486
                    </span>
                <span class="overlay__item">
                        <i class="fa fa-comment"></i>
                        344
                    </span>
            </div>
        </div>
        <div class="profile__photo">
            <img src="{% static 'images/feedPhoto.jpg' %}" />
            <div class="profile__photo-overlay">
                <span class="overlay__item">
                            <i class="fa fa-heart"></i>
                            486
                        </span>
                <span class="overlay__item">
                            <i class="fa fa-comment"></i>
                            344
                        </span>
            </div>
        </div>
        <div class="profile__photo">
            <img src="{% static 'images/feedPhoto.jpg' %}" />
            <div class="profile__photo-overlay">
                <span class="overlay__item">
                                <i class="fa fa-heart"></i>
                                486
                            </span>
                <span class="overlay__item">
                                <i class="fa fa-comment"></i>
                                344
                            </span>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
