{% extends '_base.html' %}
{% load static %}
{% load thumbnail %}
{% load user_actions %}
{% block head_title %}My Friends{% endblock %}
{% block content  %}
   <br>
         <h1 class="text-center">Notifications</h1>
         <hr>
   <br>
   <div class="list-group" id='all_notifiactions'>
      {% include "user_activity_notification.html" %}
    </div>


<script type="text/javascript">
   var page = 1;
   var empty_page = false;
   var block_request = false;
   $j(window).scroll(function () {
   var margin = $j(document).height() - $j(window).height() - 200;
   if (
     $j(window).scrollTop() > margin &&
     empty_page == false &&
     block_request == false
   ) {
     block_request = true;
     page += 1;
     $j.get("?page=" + page, function (data) {
       if (data == "") {
         empty_page = true;
       } else {
         block_request = false;
         $j("#all_notifiactions").append(data);
   
       }
     });
   }
   });
</script>
{% endblock content %}
