{% extends '_base.html' %}
{% load static %}
{% load thumbnail %}
{% load user_actions %}
{% block head_title %}My Friends{% endblock %}
{% block content  %}


      <br>
      <br>
      
    <main id="explore" >
        <ul class="explore__users">
            {% csrf_token %}
            <li class="explore__user">
                <h6 class="mb-3 pl-5 h6" style="color: rgba(var(--i1d,38,38,38),1);font-weight: 600;">Suggestions For You</h6>
            
       </li>
            {% for friends in all_friends %}

            <li class="explore__user">
                
                <div class="explore__user-column" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"> 
                    <img src="{% thumbnail friends.profile_photo 50x50 crop %}" class="explore__avatar" alt="profile image" >
                    <div class="explore__info" style="font-size: 80%">
                        <a href="{{ friends.get_absolute_url }}" style="color:purple;display: block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                        <span class="explore__username" style="">{{friends.user.username}} 
                            {% if friends.user.is_genuine %}
                                <img src="{% static 'images/verify_account.png' %}" height="20" width="20">
                            {% endif %}


                      </span></a>

                        <span class="explore__full-name" >{{friends.user.get_full_name}}</span>
                    </div>
                </div>
                <div class=" explore__user-column float-right">

                {% if friends.pk|check_follow_or_unfollow:user_object.pk  %}
                        
                    <button class='follow_unfollow_button' user_id='{{friends.pk}}' style="border: 2px solid;">Follow
                    </button>   

                {% else %}                 
                    <button class='follow_unfollow_button unfollow_button' user_id='{{friends.pk}}' style="border: 2px solid;">Unfollow
                    </button>   

                    {% endif %}

                    
                </div>
            </li>


            {% endfor %}
        </ul>



    </main>

<script type="text/javascript" src="{% static 'js/follow_unfollow.js' %}">
</script>
    {% endblock content %}
 <div class="row">
    <div class="col-md-3">
        <div class="custom-control custom-checkbox image-checkbox">
            <input type="checkbox" class="custom-control-input" id="ck1a">
            <label class="custom-control-label" for="ck1a">
                <img src="https://preview.tabler.io/static/avatars/003f.jpg" alt="#" class="img-fluid">
            </label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="custom-control custom-checkbox image-checkbox">
            <input type="checkbox" class="custom-control-input" id="ck1b">
            <label class="custom-control-label" for="ck1b">
                <img src="https://preview.tabler.io/static/avatars/003f.jpg" alt="#" class="img-fluid">
            </label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="custom-control custom-checkbox image-checkbox">
            <input type="checkbox" class="custom-control-input" id="ck1c">
            <label class="custom-control-label" for="ck1c">
                <img src="https://preview.tabler.io/static/avatars/003f.jpg" alt="#" class="img-fluid">
            </label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="custom-control custom-checkbox image-checkbox">
            <input type="checkbox" class="custom-control-input" id="ck1d">
            <label class="custom-control-label" for="ck1d">
                <img src="https://preview.tabler.io/static/avatars/003f.jpg" alt="#" class="img-fluid">
            </label>
        </div>
    </div>
</div>